## About Dataset
Context
This is a small subset of dataset of Book reviews from Amazon Kindle Store category.

Content
5-core dataset of product reviews from Amazon Kindle Store category from May 1996 - July 2014. Contains total of 982619 entries. Each reviewer has at least 5 reviews and each product has at least 5 reviews in this dataset.
Columns

- asin - ID of the product, like B000FA64PK
- helpful - helpfulness rating of the review - example: 2/3.
- overall - rating of the product.
- reviewText - text of the review (heading).
- reviewTime - time of the review (raw).
- reviewerID - ID of the reviewer, like A3SPTOKDG7WBLN
- reviewerName - name of the reviewer.
- summary - summary of the review (description).
- unixReviewTime - unix timestamp.

Acknowledgements
This dataset is taken from Amazon product data, Julian McAuley, UCSD website. http://jmcauley.ucsd.edu/data/amazon/

License to the data files belong to them.

Inspiration
- Sentiment analysis on reviews.
- Understanding how people rate usefulness of a review/ What factors influence helpfulness of a review.
- Fake reviews/ outliers.
- Best rated product IDs, or similarity between products based on reviews alone (not the best idea ikr).
- Any other interesting analysis

## Best Practices
### 1. Preprocessing and Cleaning
### 2. Train Test Split
### 3. BOW,TFIDF,Word2vec
### 4. Train ML Algorithm

In [1]:
# load the dataset
import pandas as pd
data = pd.read_csv("C:/Users/admin/OneDrive/Desktop/New folder/The-Grand-Complete-Data-Science-Materials-main/The-Grand-Complete-Data-Science-Materials-main/Complete NLP For ML & Deep Learning/Kindle Reviews/all_kindle_review.csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [2]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'asin', 'helpful', 'rating', 'reviewText',
       'reviewTime', 'reviewerID', 'reviewerName', 'summary',
       'unixReviewTime'],
      dtype='object')

In [3]:
df = data[['rating','reviewText']]
df.head()

   rating                                         reviewText
0       3  Jace Rankin may be short, but he's nothing to ...
1       5  Great short read.  I didn't want to put it dow...
2       3  I'll start by saying this is the first of four...
3       3  Aggie is Angela Lansbury who carries pocketboo...
4       4  I did not expect this type of book to be in li...

In [4]:
df.shape

(12000, 2)

In [5]:
## Missing Values
df.isnull().sum()

rating        0
reviewText    0
dtype: int64

In [6]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [7]:
df['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

In [8]:
# Preprocessing and Cleaning

In [9]:
## Positive review is 1 and Negative review is 0
import warnings
warnings.filterwarnings('ignore')
df['rating'] = df['rating'].apply(lambda x:0 if x<3 else 1)

In [10]:
df['rating'].value_counts()

1    8000
0    4000
Name: rating, dtype: int64

In [11]:
## lower all the cases
df['reviewText'] = df['reviewText'].str.lower()

In [12]:
df.head()

   rating                                         reviewText
0       1  jace rankin may be short, but he's nothing to ...
1       1  great short read.  i didn't want to put it dow...
2       1  i'll start by saying this is the first of four...
3       1  aggie is angela lansbury who carries pocketboo...
4       1  i did not expect this type of book to be in li...

In [13]:
import re
import nltk
from nltk.corpus import stopwords
# nltk.download('stopwords')

In [14]:
from bs4 import BeautifulSoup

In [15]:
## Removing special characters
df['reviewText'] = df['reviewText'].apply(lambda x : re.sub('[^a-z A-Z 0-9]+', '',x))
## Remove the stopwords
df['reviewText'] = df['reviewText'] .apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))
## Remove url
df['reviewText'] = df['reviewText'] .apply(lambda x : re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' ,str(x)))
## Remove html tags
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
## Remove any additional spaces
df['reviewText'] = df['reviewText'].apply(lambda x: " ".join(x.split()))

In [16]:
df.head()

   rating                                         reviewText
0       1  jace rankin may short hes nothing mess man hau...
1       1  great short read didnt want put read one sitti...
2       1  ill start saying first four books wasnt expect...
3       1  aggie angela lansbury carries pocketbooks inst...
4       1  expect type book library pleased find price right

In [17]:
## Lemmatizer
from nltk.stem import WordNetLemmatizer

In [18]:
lemmatizer = WordNetLemmatizer()

In [19]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [20]:
df['reviewText'] = df['reviewText'].apply(lambda x:lemmatize_words(x))

In [21]:
df.head()

   rating                                         reviewText
0       1  jace rankin may short he nothing mess man haul...
1       1  great short read didnt want put read one sitti...
2       1  ill start saying first four book wasnt expecti...
3       1  aggie angela lansbury carry pocketbook instead...
4       1  expect type book library pleased find price right

In [22]:
## Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df['reviewText'],df['rating'],test_size=0.20)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer()
# X_train_bow = bow.fit_transform(X_train).toarray()
X_test_bow = bow.fit_transform(X_test).toarray()

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.fit_transform(X_test).toarray()

In [25]:
X_test_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
from sklearn.naive_bayes import GaussianNB
nb_model_bow = GaussianNB().fit(X_train_bow,y_train)
nb_model_tfidf = GaussianNB().fit(X_train_tfidf,y_train)

NameError: name 'X_train_bow' is not defined

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [ ]:
y_pred_bow = nb_model_bow.predict(X_test_bow)

In [ ]:
y_pred_tfidf = nb_model_tfidf.predict(X_test_tfidf)

In [ ]:
confustion_matrix(y_test,y_pred_bow)

In [ ]:
print("Bow Accurancy :",accurancy_score(y_test,y_pred_bow))

In [ ]:
confustion_matrix(y_test,y_pred_tfidf)

In [ ]:
print("Bow Accurancy :",accurancy_score(y_test,y_pred_tfidf))